$black: #000000;
$purple: #ad1fea;
$purple-hover: #c75af6;
$royal-blue: #4661e6;
$american-blue: #373f68;
$white: #ffffff;
$alice-blue: #f2f4ff;
$ghost-white: #f7f8fd;
$dark-blue: #3a4374;
$semi-blue: #647196;
$tangerine: #f49f85;
$maya-blue: #62bcfa;
$filter-link: #cfd7ff;
$body-color: #f2f2f2;
$roadmap-link: #8397f8;
$red: #d73737;
$cancel-color: #656ea3;
